/*************
    COMMON 
*************/
body{
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 68.75rem;
    padding: 0rem 2.5rem;
    margin: auto;
}

.row, .col {
    display: flex;
}

.row-column, .col-column {
    display: flex;
    flex-direction: column;
}

main .card{
    padding: 2.8125rem 2rem 2.8125rem 2rem;
    border-radius: 2.25rem;
    max-width: 100%;
}

/*************
  FACILITIES 
*************/
.justify-space-between{
    justify-content: space-between;
}

.justify-space-evenly{
    justify-content: space-evenly;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

position-relative{
    position: relative;
}

.max-w-100{
    max-width: 100%;
}

.max-w-90{
    max-width: 90%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.block{
    display: block;
}