/*************
    COMMON 
*************/

.container {
    max-width: 68.75rem;
    padding: 0rem 2.5rem;
    margin: auto;
}

.row, .col {
    display: flex;
}

.row-column, .col-column {
    display: flex;
    flex-direction: column;
}

main .card{
    padding: 2.8125rem 2rem 2.8125rem 2rem;
    border-radius: 2.25rem;
    max-width: 100%;
}

/*************
    BUTTONS 
*************/
.generic-button{
    border: none;
    border-radius: 1.875rem;
    padding: .8rem 2.8125rem;
}

.apple-button{
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 1.1rem;
    margin-top: 2.1875rem;
}

.benefit-button{
    color: var(--white-color);
    background-color: var(--violet-color);
    margin-top: .625rem;
    display: inline-block;
    text-decoration: none;
}

/*************
  FACILITIES 
*************/
.justify-space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.max-w-100{
    max-width: 100%;
}

.block{
    display: block;
}