/*************
    COMMON 
*************/

.container {
    max-width: 68.75rem;
    padding: 0rem 2.5rem;
    margin: auto;
}

.row, .col {
    display: flex;
}

/*************
  FACILITIES 
*************/
.justify-space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}