/*************
    HEADER 
*************/
header {
    background-color: var(--dark-blue-color);
    padding: 1.5625rem 0rem;
    position: sticky;
    top: 0;
    box-shadow: -1px 0px 15px 1px #000000;
}

header .menu-mob-tab,
header .menu-desktop,
header li a{
    color: var(--white-color);
}

header .menu-mob-tab{
    font-size: 2rem;
}

header .menu-desktop{
    display: none;
}

header li{
    list-style: none;
    padding-left: 2rem;
}

header li a{
    text-decoration: none;
}

/* 992px < vw < oo DESKTOP */
@media screen and (min-width: 992px) {
    header .menu-mob-tab{
        display: none;
    }

    header .menu-desktop{
        display: block;
    }
}