/*************
    HEADER 
*************/
header {
    background-color: var(--dark-blue-color);
    padding: 1.5625rem 0rem;
    position: sticky;
    top: 0;
    box-shadow: -1px 0px 15px 1px #000000;
}

header *{
    color: var(--white-color);
}

/* Ho usato questo comando perchè il logo risultava
un pochino decentrata */
header .logo{
    transform: translate(1px, 5px);
}

header .menu-mob-tab{
    font-size: 2rem;
}

header li{
    padding-left: 2rem;
}

/* 992px < vw < oo DESKTOP */
@media screen and (min-width: 992px) {
    header .menu-mob-tab{
        display: none;
    }

    header .menu-desktop{
        display: block;
    }
}