/****************
 MAIN SECTION 1
****************/
main .section-one{
    margin: 3.125rem auto 5rem auto;
    flex-wrap: wrap;
}

main .section-one .card{
    margin-bottom: 1.7rem;
    background-color: var(--light-blue-color);
}

main .section-one .card:first-child{
    padding-bottom: 0;
}

main .section-one .card:not(:first-child){
    text-align: center;
}

main .section-one .card h2{
    color: var(--dark-blue-color);
    font-size: 2.3rem;
}

main .section-one .card .icon-card{
    color: var(--dark-blue-color);
    font-size: 7rem;
    margin-bottom: 2.1875rem;
}

main .section-one .card p{
    color: var(--grey-color);
    font-weight: bold;
    margin-top: 2.1875rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

main .section-one .card button{
    margin-bottom: 2.1875rem;
}

/* 768px < vw <  991 TABLET */
@media screen and (min-width: 768px) {
    .section-one{
        justify-content: space-between;
    }
    main .section-one .card-second-part img{
        max-width: 65%;
    }
    main .section-one .card {
        width: calc(100% / 3 - 1.25rem);
    }
    main .section-one .card:nth-child(1){
        width: calc(100% / 3 * 2 - .625rem);
    }
    main .section-one .card .icon-card{
        font-size: 5.5rem;
    }
    main .section-one .card h2{
        font-size: 1.5rem;
    }
}

/* 992px < vw < oo DESKTOP */
@media screen and (min-width: 992px) {
    main .section-one .card:first-child{
        display: flex;
    }
    main .section-one .card-second-part img{
        max-width: 100%;
    }
    main .section-one .card .card-first-part{
        max-width: 55%;
    }
    main .section-one .card .card-second-part{
        max-width: 45%;
        align-self: flex-end;
    }
    main .section-one .card p{
        font-size: 1.5rem;
    }
    .apple-button{
        width: 80%;
    }
}

/****************
 MAIN SECTION 2
****************/
main .section-two{
    background-color: var(--violet-color);
    padding: 3.75rem 0;
}

main .section-two .strateg-planner{
    color: var(--white-color);
}

main .section-two .strateg-planner h2{
    margin: 3.125rem 0rem;
    font-size: 2.5rem;
}

main .section-two .app-devel h2{
    margin: 1.875rem 0;
}

main .section-two .app-devel{
    background-color: var(--white-color);
    border-radius: 2.25rem;
    margin: 2.1875rem 0 0 0;
    text-align: center;
    padding: 1.875rem 3.125rem;
}

main .section-two .app-devel .arrow-down-icon i{
    margin-top: 2.5rem;
    padding: 1rem 1.2rem;
    border-radius: 50%;
    background-color: var(--violet-color);
}

/* 992px < vw < oo DESKTOP */
@media screen and (min-width: 992px) {
    main .section-two div.justify-space-evenly{
        display: flex;
    }
    main .section-two .strateg-planner{ 
        max-width: calc(45% - .9375rem);
    }
    main .section-two .app-devel{
        align-self: flex-end;
        max-width: calc(40% - .9375rem);
    }
    main .section-two .strateg-planner img{
        width: 90%;
        margin-bottom: 2rem;
    }
    main .section-two .app-devel img{
        max-width: 75%;
        align-self: center;
    }
}

/****************
 MAIN SECTION 3
****************/
main .section-three{
    margin: 3.75rem auto 6.25rem auto;
}

main .section-three .section-three-top{
    text-align: center;
}

main .section-three .section-three-top h2{
    color: var(--violet-color);
    padding: 2.5rem 0;
    font-size: 2.7rem;
}

main .section-three .section-three-top p{
    padding-bottom: 3.125rem;
    width: 85%;
    margin: auto;
    line-height: 25px;
}

main .section-three-bottom .card{
    background-color: var(--violet-color);
    color: var(--white-color);
    text-align: center;
    margin-bottom: 1.875rem;
    width: 100%;
}

main .section-three-bottom .testimonial-img img{
    border-radius: 50%;
    width: 15.625rem;
    height: 15.625rem;
    object-fit: cover;
}

main .section-three .card .testimonial-name{
    display: block;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

main .section-three-bottom .quotes-icon{
    font-size: 1.5625rem;
}

main .section-three-bottom .testimonial-sentence p{
    padding: 1.5rem 0 1.875rem 0;
}

/* 768px < vw <  991 TABLET */
@media screen and (min-width: 768px) {
    main .section-three-bottom .card{
        display: flex;
    }
    main .section-three-bottom .card{
        text-align: left;
        align-items: center;
    }
    main .section-three-bottom .testimonial-img img{
        margin-right: 1.5625rem;
    }
}

/****************
 MAIN SECTION 4
****************/
main .section-four{
    background-color: var(--violet-color);
    padding-bottom: 1.875rem ;
}

main .section-four h2{
    color: var(--white-color);
    padding: 4.375rem 0;
    font-size: 2.5rem;
}

main .section-four .card{
    background-color: var(--white-color);
    width: 100%;
    margin-bottom: 1.875rem;
}

main .section-four .benefit-number,
main .section-four .benefit-name{
    color: var(--violet-color);
    font-weight: bold;
}

main .section-four .card p{
    padding: 1.25rem 0;
    letter-spacing: .1rem;
}

main .section-four .benefit-number{
    font-size: 2.8125rem;
    padding-bottom: .9375rem;
}

main .section-four .benefit-name{
    font-size: 1.5625rem;
}

main .section-four .row{
    flex-wrap: wrap;
}

/* 768px < vw <  991 TABLET */
@media screen and (min-width: 768px) {
    main .section-four .row{
        justify-content: space-between;
    }
    main .section-four .card{
        width: calc(100% / 2 - 1rem);
    }
}

/* 992px < vw < oo DESKTOP */
@media screen and (min-width: 992px) {
    main .section-four .card{
        width: calc(100% / 3 - 1rem);
    }
    footer div.w-80{
        width: 50%;
    }
}

/****************
 MAIN SECTION 5
****************/
main .section-five{
    padding-bottom: 4.6875rem;
}

main .section-five h2{
    color: var(--violet-color);
    font-size: 2.5rem;
    padding: 5.625rem 0 2.4375rem 0;
}

main .section-five .description-us p:last-child{
    margin-top: 2rem;
}

main .section-five .manager-we .img-icon i{
    position: relative;
    bottom: 160px;
    left: -55px;
    font-size: 4.375rem;
    color: var(--violet-color);
}

main .section-five .manager-we img{
    border-radius: 50%;
    margin: 3rem 0 1rem 0;
    width: 12.5rem;
    height: 12.5rem;
}

main .section-five .manager-we p{
    color: var(--violet-color);
    font-weight: bold;
    font-size: 2rem;
}

main .section-five .manager-we .generic-button i{
    margin-right: .5rem;
}

/* 768px < vw <  991 TABLET */
@media screen and (min-width: 768px) {
    main .section-five .row-column{
        flex-direction: row;
        justify-content: space-between;
    }
    main .section-five .description-us{
        max-width: calc(60% - 1.5rem);
        margin-right: 2rem;
    }
    footer div.w-80{
        width: 60%;
    }
}

/****************
 MAIN SECTION 6
****************/
.section-six{
    background-color: var(--violet-color);
    padding: 3.75rem 0;
    color: var(--white-color);
}

.section-six #copyright{
    padding-top: 1.3rem;
}

.section-six #copyright #copyright-privacy{
    text-decoration: underline;
}

.section-six h4{
    color: var(--violet-color-light);
}

.section-six h3{
    color: var(--yellow-color);
    font-size: 2.875rem;
}

.section-six h2, .section-six p{
    padding: 1.3rem 0;
}

/* 768px < vw <  991 TABLET */
@media screen and (min-width: 768px) {
    .section-six h3{
        font-size: 3.5rem;
    }
    
    .section-six h2{
        font-size: 1.875rem;
    }
    .section-six #copyright{
        font-size: 1rem;
    }
}