/*************
    ROOT 
*************/

:root{
    --dark-blue-color: #0084fd;
    --light-blue-color: #b5ddff;
    --white-color: #fff;
    --grey-color: #5a6e7f;
    --violet-color: #9792e4;
    --dark-grey-footer: #333333;
}